//colores base
    $colores: (
    negro-transparente: #1818186e,
    celeste: #1FC1CB,
    blanco-body: #F5F2F2,
    blanco-texto-menus: #E9E8E8,
    amarillo-active: rgb(244, 244, 199),
    morado: #6567C9,
    morado-claro: #5c5db3,
    morado-oscuro: #4d4e95,
    morado-bg-juega: #3A3B7C,
    gris-texto: #757575,
    gris-hover: #585757,
    amarillo: #FBE405,
    amarillo-hover: #dac503,
    amarillo-oscuro: #9d8e02,
    color-bg-preguntas: #E9E8E8,
    color-bg-terminos: #D9D9D9,
    color-bg-sobre: #F5F2F2,
    amarillo-active-2: rgb(215, 215, 174) 
    )



