
//ESTILO HEADER
@mixin estilo-logo-header ($font-size) {
    font-size: $font-size;
    text-decoration:none;
    color: white;
    font-family: "fuente-logo";
    }

//ESTILO LOGO H1 y h2 GLOBAL
 @mixin estilo-h1-global ($font-weight, $text-align,$font-size,$color,$font-family,$letter-spacing){
    font-weight: $font-weight;
     text-align: $text-align;
     font-size: $font-size;
     text-decoration:none;
     color: $color;
     font-family: $font-family;
     letter-spacing:$letter-spacing;
 }