  /* -----FUENTES -----*/
    /* FUENTE LOGO */
    @font-face {
        font-family: fuente-logo;
        src: url(../fonts/Henny_Penny/HennyPenny-Regular.ttf);
    }
/* FUENTE quicksand */
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* FUENTE copyright */
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
/* FUENTE ARTICULOS */
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* FUENTE JUEGO */
        @font-face {
        font-family: fuente-juego;
        src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}
