  /* -----FUENTES -----*/
    /* FUENTE LOGO */
            @font-face {
                font-family: fuente-logo;
                src: url(../fonts/Henny_Penny/HennyPenny-Regular.ttf);
            }
        /* FUENTE quicksand */
            @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
        /* FUENTE copyright */
                @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
        /* FUENTE ARTICULOS */
                @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        /* FUENTE JUEGO */
                @font-face {
                font-family: fuente-juego;
                src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
        }
    /* MEDIA QUERY */
        /* MOVIL */
        @media only screen and (max-width: 480px) {

            /* maquetacion body */
            header {
                height: 460px;
             }  

             /* maquetacion header */
             .grid-container {
                display: grid;
                grid-template-rows: repeat(5,80px) ;
                grid-template-columns: 1 fr;
                justify-content: center;
            }
            .grid-item {
                display: flex;
                justify-content: center;
                align-items: center;
                }
            .first-item {
                border: 1px solid red;
            }
        }
        /* tablet */
        /* and (max-width: 1023px) */
        @media only screen and (min-width: 481px)  {
             /* maquetacion body */
             header {
                height: 170px;
             }  
             /* maquetacion header */
             /* grid nav */
             .grid-container {
                display: grid;
                grid-template-rows: 80px 80px;
                grid-template-columns: repeat(5, 1fr);
                justify-content: center;
            }
            .grid-item {
                display: flex;
                justify-content: center;
                align-items: center;
                }
            .first-item {
                grid-column: 1/6;
            }
        }
        
         /* desktop */
         /* @media only screen and (min-width: 1024px) { */
             /* maquetacion body */
             /* header {
                height: 170px;
             }  */

             /* maquetacion nav */
             /* grid nav */
            
        /* } */
    /* ESTILO UNIVERSAL */
        *{ 
            margin: 0px;
            border: 0px;
        }

    /*ESTILOS DE BODY*/
        body {
            background-color: #F5F2F2;
        }
        
        main {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            border: 1px solid red;
            
        }
        footer {
            background-color: #1FC1CB;
           
        }
        
        ul{
            list-style-type: none;
        }
        /* MAQUETACION GRID FOOTER */
        .footer-grid-container {
            display: grid;
            grid-template-rows: 330px;
            grid-template-columns: 1fr 1fr 1fr;
        }
            .grid-lista-1-links {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items:flex-start;
                margin-left: 50px;
            }
            .grid-footer-fabricacion {
                display: flex;
                flex-direction: column;
                justify-content: end;
                text-align: center;
                padding-bottom: 40px;
            }
            .grid-lista-central-footer {
                display: grid;
                grid-template-rows: repeat(4,auto);
                grid-template-columns: 1fr 1fr 1fr;
                ;
            }
                    .logo-grid-footer {
                        grid-column: 1/4;
                        grid-row: 1/3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .grid-iconos-footer-1 {
                        display: flex;
                        grid-row: 3/4;
                        grid-column: 1/2;
                        justify-content: flex-end;
                    }
                    .grid-iconos-footer-2 {
                        display: flex;
                        grid-row: 3/4;
                        grid-column: 2/3;
                        justify-content: center;
                    }
                    .grid-iconos-footer-3 {
                        display: flex;
                        grid-row: 3/4;
                        grid-column: 3/4;
                        justify-content: flex-start;
                    }
                    
                    .grid-copy-footer {
                        grid-column: 1/4;
                        grid-row: 4/5;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                        padding-bottom: 30px;
                    }
    /* ESTILOS HEADER*/
        header nav {
            display: inline;
            background-color: #1FC1CB;
            position: fixed;
            width: 100%;
            z-index: 2;
        }
            
        

    /* ESTILO MENUS */
        .clase-menus {
            color: #E9E8E8;
            font-size: 32px;
            text-decoration: none;
            font-family: 'Quicksand', sans-serif;
            list-style-type: none;
            
            
            
        }
                /* estilo Logo */
            .logo-header-class {   
            font-size: 44px;
            text-decoration:none;
            color: white;
            font-family: "fuente-logo";
            
            
            

        }
            .logo-header-class span {
            font-size: 15px;
        }

        /* ESTILOS FOOTER*/
        

            /* ESTILO links footer*/
                .clase-links-footer {
                    color: #E9E8E8;
                    font-size: 20px;
                    text-decoration: none;
                    font-family: 'Quicksand', sans-serif;
                }
            /* Estilo logo gatino footer */
                .clase-logo-gatino {
                    width: 178px;
                }
            /* Estilo icpnos RRSS footer */
                .clase-iconos {
                    width: 30px;
                }

            /* estilo copyright footer*/
                footer h5 {
                    font-weight: 300;
                    color: #E9E8E8;
                    font-size: 18px;
                    text-decoration: none;
                    font-family: 'Alegreya Sans', 'Quicksand', sans-serif;
                }
            /* estilo hecho en Chile*/
                footer p {
                    color: #E9E8E8;
                    font-size: 20px;
                    text-decoration: none;
                    font-family: 'Quicksand', sans-serif;
                }

    /* ---PORTADA INDEX----*/
       
        /* div para TEXTO y BOTON TIENDA  */
            .div-texto-portada {
                border: 2px solid blue;
                background-color: #1818186e;
                display: flex;
                flex-direction: column;
                position: relative;
                justify-content: center;
                z-index: 0;
                width: 100%;
                 height: 550px;
                 padding-top: 30px;
            }
         /* div IMAGEN fondo */
         .div-fondo-portada {
            /* border: 3px solid magenta;
            background-color: #3A3B7C; */
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 550px;
            background-image: url(../img/portada-1.png);
            background-size: 100%;
            background-position: center center;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            }
           


        /* logo h1 */
                h1 {
                    font-weight: 100;
                    text-align: center;
                    font-size: 100px;
                    text-decoration:none;
                    color: white;
                    font-family: "fuente-logo";
                }
                h1 span {
                    font-size: 33.3px;
                }
        /* subt h2 */
                h2 {
                    font-weight: 100;
                    text-align: center;
                    font-size: 50px;
                    text-decoration:none;
                    color: white;
                    font-family: "fuente-logo";
                }
        /* subt h3 */
                h3 {
                    font-weight: 400;
                    text-align: center;
                    font-size: 31px;
                    text-decoration:none;
                    color: white;
                    font-family: 'Quicksand', sans-serif;
                }

    /* Boton tienda */
                .boton-tienda {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;
                    width: 200px;
                    border: 1px solid #6567C9;;
                    font-family: 'Quicksand', sans-serif;
                    color: white;
                    font-size: 48px;
                    font-weight: 500;
                    letter-spacing: 0.2rem;
                    background-color: #6567C9;
                    text-decoration: none;
                    width: 350px;
                    height: 70px;
                    padding: 0px;
                    margin: 0px ;
                    border-radius: 30px;
                }
                .boton-tienda:hover{
                    background-color: #5c5db3;
                    border: 1px solid #5c5db3;
                }
                .boton-tienda:active,
                .boton-tienda:focus, .boton-tienda:disabled {
                    --bs-btn-hover-border-color: #4d4e95;
                    --bs-btn-active-bg: #4d4e95;
                    --bs-btn-active-border-color: #4d4e95;
                    
                }

                .div-botones{
                    display: flex;
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    height: 100%;
                    padding-bottom: 50px;
                }

    /* SECCION ARTICULOS INDEX*/

        /* MAQUETACION ARTICULOS INDEX */

        .flex-articulos-index {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 50px;
            height: 400px;
            
        }
        .flex-articulos-item-1 {
            width: 290px;
            height: 350px;
            margin: 20px;
        
        }
        .flex-articulos-item-2 {
            width: 290px;
            height: 350px;
            margin: 20px;
        
        }
        .flex-articulos-item-3 {
            width: 290px;
            height: 350px;
            margin: 20px;

        }

        /* Articulos, IMAGENES */
            .tamaño-img-art-home {
                width: 280px;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            }
        /* Articulos, TEXTO */
            .texto-articulos{
                font-family: 'Playfair Display', serif;
                font-size: 20px;
                color: #757575;
                text-align: left;

            } 
            .texto-articulos p {
                padding-top: 10px;
            }

    /*--------------- CSS TIENDA --------------*/
        /* MAQUETACION PORTADA TIENDA */
            .grid-container-portada-tienda {
                display: grid;
                grid-template-columns: 45% 55% ;
                grid-template-rows: 520px ;
                justify-content: center;
                align-items: center;
               position: relative;
               z-index: 0;
               width: 100%;
                
                
            }
            .grid-item1-portada-tienda {
                grid-column: 1/2;
                grid-row: 1/2;
                display: flex;
                justify-content: center;
                
            }
            .grid-item2-portada-tienda {
                display: flex;
                flex-direction: column;
                justify-content: center;
                grid-column: 2/3;
                grid-row: 1/2;
                margin-right: 10%;
               

            }
            .color-negro-portada-tienda {
                background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
                width: 100%;
                height: 100%;
                grid-column: 1/3;
                grid-row: 1/3;
                position: relative;
                z-index: -1;
            }
        

        /* MAQUETACION ARTICULOS TIENDA */

    .flex-articulos-tienda {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 50px;
        height: 600px;
        
        }

        .flex-articulos-item-1-tienda {
            width: 290px;
            height: 350px;
            margin: 20px;
            
        
        }
        .flex-articulos-item-2-tienda {
            width: 290px;
            height: 350px;
            margin: 20px;
        
        }
        .flex-articulos-item-3-tienda {
            width: 290px;
            height: 350px;
            margin: 20px;

        }
    /* maquetacion boton mercado libre */

    /* Boton tienda -TIENDA */
                .boton-tienda-mercado-libre {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;
                    width: 1100px;
                    border: 1px solid #FBE405;
                    font-family: 'Quicksand', sans-serif;
                    color: #757575;
                    font-size: 43px;
                    font-weight: 500;
                    letter-spacing: 0.2rem;
                    background-color: #FBE405;
                    text-decoration: none;
                    height: 70px;
                    padding: 0px;
                    margin: 0px ;
                    border-radius: 30px;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                }
                .boton-tienda-mercado-libre:hover{
                    background-color: #dac503;
                    border: 1px solid #dac503;
                    --bs-btn-hover-color: #585757;
                }
                .boton-tienda-mercado-libre:active,
                .boton-tienda-mercado-libre:focus, .boton-tienda-mercado-libre:disabled {
                    --bs-btn-hover-border-color: #9d8e02;
                    --bs-btn-active-bg: #9d8e02;
                    --bs-btn-active-border-color: #9d8e02;
                    --bs-btn-active-color: #484747;
                    
                }

                .div-botones-mercado-libre{
                    display: flex;
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    z-index: 0;
                    height: 100%;
                    padding-top: 30px;
                }



    /* ----ESTILOS TIENDA---- */
        /* PORTADA TIENDA */

            .portada-tienda {
                background-image: url(../img/fondo-madera.png);
                background-size: 100%;
                background-position: center center;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            }

        /*  h1 TIENDA */
            .portada-tienda h1 {
                font-weight: 700;
                text-align: right;
                font-size: 50px;
                text-decoration:none;
                color: white;
                font-family: 'Playfair Display', serif;
                letter-spacing: 0.2rem;
            }
         /* subt h2 TIENDA*/
            .portada-tienda h2 {
            font-weight: 400;
            text-align: right;
            font-size: 24px;
            text-decoration:none;
            color: white;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.1rem;
             }
            .portada-tienda img {
                width: 450px;
                
            }

        
            .portada-tienda h3 {
                font-weight: 400;
                text-align: right;
                font-size: 16px;
                text-decoration:none;
                color: white;
                font-family: 'Playfair Display', serif;
                letter-spacing: 0.1rem;
            }
        /* IMG ARTICULOS -TIENDA */
            .tamaño-img-art-tienda {
                /* width: 300px; */
                height: 250px;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            }


    /*--------------- CSS HISTORIA --------------*/
        /* MAQUETACION PORTADA HISTORIA */
        .grid-container-portada-historia {
            display: grid;
            grid-template-columns: 30% 60%;
            grid-template-rows: 520px ;
            justify-content: center;
            align-items: center;
           position: relative;
           z-index: 0;
           width: 100%;
        }
        .grid-item1-portada-historia {
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            justify-content: center;      
        }
        .grid-item2-portada-historia {
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-column: 2/3;
            grid-row: 1/2;
            margin-right: 10%;
        }

        /* MAQUETACION ARTICULOS HISTORIA */
    .flex-articulos-historia {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 50px;
        height: 900px;
        }
        .flex-articulos-historia p {
            margin-left: 20px; 
        }
        .alguien {
            font-size: 40px;
            position: absolute;
            z-index: -1;
            text-align: right;
            padding-left: 80px;
        }

        .flex-articulos-item-1-historia {
            width: 300px;
            height: 900px;
            margin: 20px;
        
        }
        .flex-articulos-item-2-historia {
            width: 300px;
            height: 900px;
            margin: 20px;
        }

        .flex-articulos-item-3-historia {
            width: 300px;
            height: 900px;
            margin: 20px;

        }

        /* -----PORTADA HISTORIA----- */
                .portada-historia {
                    background-image: url(../img/fondo-azul.png);
                    background-size: 100%;
                    background-position: center center;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                }
            
            /*  h1 historia */
                .portada-historia h1 {
                    font-weight: 400;
                    text-align: right;
                    font-size: 50px;
                    text-decoration:none;
                    color: white;
                    font-family: 'Playfair Display', serif;
                    letter-spacing: 0.2rem;
                }
        
                /* subt h2 historia*/
                    .portada-historia h2 {
                    font-weight: 400;
                    text-align: right;
                    font-size: 24px;
                    text-decoration:none;
                    color: white;
                    font-family: 'Playfair Display', serif;
                    letter-spacing: 0.1rem;
                    }
                    .portada-historia img {
                        width: 457px;
                    }
            /* -----ARTICULOS HISTORIA----- */

            /* IMG ARTICULOS -HISTORIA */
                .tamaño-img-art-historia {
                    width: 250px;
                    height: 280px;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                }
                .tamaño-img-art-historia-quique {
                    width: 200px;
                    transform: scaleX(-1);
                    margin-left: 20px;
                    margin-top: 90px;

                    
                }
        

    /*--------------- CSS JUEGA --------------*/
        /* MAQUETACION PORTADA JUEGO */
        .grid-container-portada-juego {
            display: grid;
            grid-template-columns: 60% 30%;
            grid-template-rows: 520px ;
            justify-content: center;
            align-items: center;
        position: relative;
        z-index: 0;
        width: 100%;
        }
        .grid-item1-portada-juego {
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
            justify-content: center;  
            margin-right: 10%;    
            margin-left: 10%;
        }
        .grid-item2-portada-juego {
            display: flex;
            justify-content: center;
            grid-column: 2/3;
            grid-row: 1/2;
            /* margin-right: 10%; */
        }
                /* MAQUETACION ARTICULOS JUEGO */
                    /* GRID CONTAINER JUEGO */
                    .grid-container-juego {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 600px 100px;
                        grid-template-areas:
                            'juego juego juego'
                            'quique texto texto';
                    }
                    
                    /* GRID ITEM JUEGO */
                    .grid-item-juego1 {
                        grid-area: juego;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                    
                    .grid-item-juego2 {
                        grid-area: quique;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        align-self: flex-end;
                        justify-content: flex-end;
                    }
                    
                    .grid-item-juego3 {
                        grid-area: texto;
                    }



            /* PORTADA JUEGA*/
                .portada-juega {
                    background-color: #6567C9;
                    background-size: 100%;
                    background-position: center center;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                }

            /*  h1 juega */
                .portada-juega h1 {
                    font-weight: 400;
                    text-align: right;
                    font-size: 48px;
                    text-decoration:none;
                    color: yellow;
                    font-family: "fuente-juego";
                    letter-spacing: 0.2rem;
                }

                    /* subt h2 juega*/
                    .portada-juega h2 {
                    font-weight: 400;
                    text-align: right;
                    font-size: 33px;
                    text-decoration:none;
                    color: yellow;
                    font-family: 'Playfair Display', serif;
                    letter-spacing: 0.1rem;

                }

                .portada-juega h3 {
                    font-weight: 400;
                    text-align: right;
                    font-size: 26px;
                    text-decoration:none;
                    color: white;
                    font-family: 'Playfair Display', serif;
                    letter-spacing: 0.1rem;
                }


            /* imagen portada juega */
                .portada-juega img {
                    width: 457px;
                    
                }

            /* GAME */
                .tamaño-img-art-juega-quique {
                    width: 300px;
                    transform: scaleX(-1);
                    margin-left: 40px;
                    
                }
                .game {
                    width: 90%;
                    height: 500px;
                    background-color: black;
               
                    
                }
                .bg-juega {
                    background-color: #3A3B7C;
                }
                .text-game p{
                    color: white;
                    margin-left: 20%;
                    font-size: x-large;
                }




    /* ----------CONTACTO------- */

    /* MAQUETACION - SOBRE NOSOTROS */
                .flex-sobre-nosotros {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    z-index: 0;
                }
                .acordeon-bootstrap-sobre{
                    margin-top: 100px;
                    margin-bottom: 30px;
                    width: 90%;
                }

        .portada-contacto {
            background-image: url(../img/fondo-madera.png);
            background-size: 100%;
            background-position: center center;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }

        /*  h1 CONTACTO */
        .portada-contacto h1 {
            font-weight: 700;
            text-align: right;
            font-size: 50px;
            text-decoration:none;
            color: white;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.2rem;
        }
            /* subt h2 CONTACTO*/
            .portada-contacto h2 {
            font-weight: 400;
            text-align: right;
            font-size: 24px;
            text-decoration:none;
            color: white;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.1rem;
        }
        .portada-contacto img {
            width: 400px;
        }

        .portada-contacto h3 {
            font-weight: 400;
            text-align: right;
            font-size: 23px;
            text-decoration:none;
            color: white;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.1rem;
        }

    /* -------------FORMULARIO------------- */
        /* titululo form */
            .titulo-form {
                font-weight: 550;
                text-align: left;
                font-size: 23px;
                text-decoration:none;
                color: white;
                font-family: 'Quicksand', sans-serif;
                letter-spacing: 0.1rem;
            }
        /* label form */
            .formulario {
                font-weight: 400;
                text-align: left;
                font-size: 23px;
                text-decoration:none;
                color: white;
                font-family: 'Playfair Display', serif;
                letter-spacing: 0.1rem;
            }
        /* boton enviar */
            .formulario input[type="submit"] {
            
                font-family: 'Quicksand', sans-serif;
                color: #757575;
                font-size: 48px;
                font-weight: 500;
                letter-spacing: 0.2rem;
                background-color: #FBE405;
                text-decoration: none;
                border: none;
            }

    /* ------articulos contacto------ */
        /* texto articulos */
            .texto-articulos-contacto {
                font-weight: 400;
                text-align: left;
                font-size: 24px;
                text-decoration:none;
                color: #757575;
                font-family: 'Quicksand', sans-serif; 
                
            }
        /* titulos articulos */
            .texto-articulos-contacto h2{
                font-weight: 700;
                text-align: left;
                font-size: 32px;
                text-decoration:none;
                color: #757575;
                font-family: 'Quicksand', sans-serif;
                letter-spacing: 0.1rem;
            }

            .color-preguntas {
                background-color: #E9E8E8;
                --bs-accordion-active-bg: #E9E8E8;

            }

            .color-terminos {
                background-color: #D9D9D9;
                --bs-accordion-active-bg: #D9D9D9;

            }

            .color-sobre-nosotros {
                background-color: #F5F2F2;
                --bs-accordion-active-bg:#F5F2F2;

            }

           

