//---------------MEDIA QUERY------
/* ---------------RESPONSIVE TABLET --------------------------*/
//IMPORT MIXXINS
    @import '../mixins/_mixin-estilos.scss';
    @import '../mixins/_mixin-maquetacion';
    @import '../mixins/_mixin-botones';
//IMPORT VARIABLES
    @import '../variables/_variables';
//IMPORT BOOTSTRAP
    @import '../bootstrap/bootstrap';
//---------------MEDIA QUERY------
    @media only screen and (min-width: 481px) and (max-width: 991px) {

//MAQUETACION
        //OCULTAR
        .ocultar-nav {
            display: none;
        };
        //BOOTSTRAP
        .navbar {
            @include navbar-bootstrap-mixin-tablet;
        };
        .color-nav {
            @include color-nav-bootstrap-mixin-tablet;
        };
        .clase-menus.nav-link {
            @include menus-nav-link-bootstrap-mixin (inline-block, 10px);
            &:hover {
                color: map-get($map: $colores, $key: amarillo-active); 
            }}
        .clase-menus.nav-link.active {
            color: map-get($map: $colores, $key:amarillo-active);
        };
        //  /* Estilo para el enlace del logo TABLET*/
        .logo-header-class.navbar-brand {
            @include logo-header-navbar-brand-bootstrap-mixin;
            &:hover {color:white;}
        };
        .navbar-nav {
            text-align: center;
        };
        //  /* Estilo para el fondo del botón de navegación MOVIL */
        .navbar-toggler{
            border-color:white;
        };
    //MAQUETACION HEADER
        header {
            @include mixin-header-maq (auto);
        };
        .grid-container-tablet {
            @include mixin-grid-container-header (repeat(5,80px), 1 fr, center);

        };
        .grid-item-tablet {
            @include mixin-grid-item-header (center, center);
        };
    //MAQUETACION FOOTER
    .footer-grid-container {
        @include mixin-grid-container-footer ($grid-template-rows:repeat(4,auto),$grid-template-columns:100%);
        };
        .grid-lista-1-links {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items:center;
            grid-column: 1/2;
            grid-row: 1/2;
            padding-top: 30px;
        };
        .grid-footer-fabricacion {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            grid-column: 1/2;
            grid-row: 4/5 ;
        }
        .grid-lista-central-footer {
            display: grid;
            grid-template-rows: repeat(4,auto);
            grid-template-columns: 1fr 1fr 1fr;
            grid-column: 1/2;
            grid-row: 2/3 ;
            align-items: center;
            justify-content: center;
            padding: 0px;
        }
        .logo-grid-footer {
            grid-column: 1/4;
            grid-row: 1/2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .grid-iconos-footer-1 {
            display: flex;
            grid-row: 2/3;
            grid-column: 1/2;
            justify-content: flex-end;
        }
        .grid-iconos-footer-2 {
            display: flex;
            grid-row: 2/3;
            grid-column: 2/3;
            justify-content: center;
        }
        .grid-iconos-footer-3 {
            display: flex;
            grid-row: 2/3;
            grid-column: 3/4;
            justify-content: flex-start;
        }
        
        .grid-copy-footer {
            grid-column: 1/4;
            grid-row: 3/4;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 10px;
            
        }

    // MAQUETACION PORTADA INDEX  
       .div-texto-portada {
        @include mixin-maqueta-portada (column,center,0,100%,550px,30px);
        }
        //div img fondo portada
     .div-fondo-portada {
        @include mixin-maqueta-portada-img-fondo (-1,100%,550px,url(../img/portada-1.png),100%,center center)
            }
     //MAQUETACION ARTICULOS INDEX
            //IMAGENES-ARTICULOS-INDEX
            .tamaño-img-art-home {
                @include mixin-maqueta-img-articulos (280px, auto)
                };
                 //IMAGENES-ARTICULOS-TIENDA
            .tamaño-img-art-tienda{ 
                @include mixin-maqueta-img-articulos (auto, 250px)
               };
            //MAQUETACION FLEX ARTICULOS INDEX 
            .flex-articulos-index {
                @include maqueta-flex-articulos (row,wrap,space-evenly,auto,50px,auto);
            };
            .flex-articulos-item-1 {
                @include maqueta-flex-articulos-item (290px,350px,20px)
           };
           .flex-articulos-item-2 {
               @include maqueta-flex-articulos-item (290px,350px,20px)
          };
          .flex-articulos-item-3 {
           @include maqueta-flex-articulos-item (290px,350px,20px)
           };
        //MAQUETACION FLEX ARTICULOS TIENDA.HTML
            .flex-articulos-tienda {
                @include maqueta-flex-articulos (row,wrap,space-evenly,auto,50px,auto);
                };
            .flex-articulos-item-1-tienda {
                @include maqueta-flex-articulos-item(290px,auto,20px)
                    };
            .flex-articulos-item-2-tienda {
                        @include maqueta-flex-articulos-item(290px,auto,20px)
                        };
             .flex-articulos-item-3-tienda {
                            @include maqueta-flex-articulos-item(290px,auto,20px)
                            };
            // MAQUETACION PORTADA TIENDA 
        .grid-container-portada-tienda {
            @include grid-container-portada ( 1fr,    auto auto,center,center,relative,0,100%,auto);
         };
         .grid-item1-portada-tienda { @include grid-item-portada ($flex-direction:column,$grid-column:#{'1/2'},$grid-row:#{'1/2'},$justify-content:center,$align-items:center,$margin-right:0px,$margin-left:0px,$padding-top:30px,$padding-bottom:0px,);
         };
         .grid-item2-portada-tienda { @include grid-item-portada (column,#{'1/2'},#{'2/3'},center,center,10%,5%,auto,10%);
                    };
            //color negro portada tienda
            .color-negro-portada-tienda {     
                @include color-negro-portada-tienda-mixin;
              };
             //borde blanco portada
             .borde-blanco-tienda {
                @include borde-blanco-portada-mixin;
                };

//ESTILOS
        // estilo logo header
        .logo-header-class {   
            @include estilo-logo-header ($tamaño-logo-header-normal); //VALOR CAMBIAR
        };
         //estilo h1 index
         h1 {
             @include estilo-h1-global (100, center,80px,white,"fuente-logo",0px);
             span {font-size: 20.3px;};
            };
         h2 {
            @include estilo-h1-global (100, center,40px,white,"fuente-logo",0px);
            };
         h3 {
             @include estilo-h1-global (400, center,21px,white,('Quicksand', sans-serif),0px);
            };
        //estilo texto Articulos
            .texto-articulos{
                @include texto-articulos-global (20px);
                p{
                    padding-top: 10px;
                 }
            };
        //estilo portada TIENDA
        .portada-tienda {
            @include portada-fondo (url(../img/fondo-madera.png),100%);
            img {
                @include portada-img (300px)
            };
            h1 {
                @include estilo-h1-global (700, right,35px,white,('Playfair Display', serif),0.2rem);
            }
            h2 {
                @include estilo-h1-global (400, right,18px,white,('Playfair Display', serif),0.1rem);
            };
            h3 {
                @include estilo-h1-global (auto, center,15px,white,('Playfair Display', serif),0.1rem);
            };

        };

//BOTONES
         //DIV BOTONES
        .div-botones{
            @include mixin-div-botones(flex,relative,center,center,1,100%,50px,0px); 
            };
            .div-botones-mercado-libre{
                @include mixin-div-botones($display:flex,$position:relative,$justify-content:center,$align-items:center,$z-index:0,$height:100%,$padding-bottom:0px,$padding-top:30px); 
            };
        //BOTON-TIENDA-INDEX
        .boton-tienda {
            @include boton-global (flex-start,350px,1px solid map-get($colores,morado),('Quicksand', sans-serif),white,48px,500,0.2rem,map-get($colores,morado),70px,0px,0px,0px,30px,none);
            &:hover{
                background-color: map-get($colores,morado-claro);
                border: 1px solid map-get($colores,morado-claro);
            }
            &:active,&:focus,&:disabled{
                --bs-btn-hover-border-color: map-get($colores,morado-oscuro);
                    --bs-btn-active-bg: map-get($colores,morado-oscuro);
                    --bs-btn-active-border-color: map-get($colores,morado-oscuro)
            }
        };
        //BOTON-COMPRAR-MERCADO-LIBRE
        .boton-tienda-mercado-libre {
            @include boton-global (flex-start,auto,1px solid map-get($colores,amarillo),('Quicksand', sans-serif),map-get($colores,gris-hover),30px,500,0.2rem,map-get($colores,amarillo),auto,10px,0px,0px,30px,5px 5px 10px rgba(0, 0, 0, 0.3));
            &:hover{
                background-color: #dac503;
                border: 1px solid #dac503;
                --bs-btn-hover-color: #585757;
            };
            &:active,&:focus,&:disabled{
                --bs-btn-hover-border-color: #9d8e02;
                --bs-btn-active-bg: #9d8e02;
                --bs-btn-active-border-color: #9d8e02;
                --bs-btn-active-color: #484747;
            }; 
        };

 //----AQUI----

// /*--------------- CSS HISTORIA --------------*/
//     /* MAQUETACION PORTADA HISTORIA */        
.grid-container-portada-historia {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
   position: relative;
   z-index: 0;
   width: 100%;
}
.grid-item1-portada-historia {
    flex-direction: row;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 30px;     
}
.grid-item2-portada-historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-right: 10%;
    margin-left: 5%;
    padding-bottom: 10%;
}
 /* MAQUETACION ARTICULOS HISTORIA */
 .flex-articulos-historia {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    height: auto;
    p {
        margin-left: 20px; 
    }
    }
    .alguien {
        font-size: 40px;
        position: absolute;
        z-index: -1;
        text-align: right;
        padding-left: 80px;
    }

    .flex-articulos-item-1-historia {
        width: 290px;
        height: auto;
        margin: 20px;
    
    }
    .flex-articulos-item-2-historia {
        width: 290px;
        height: auto;
        margin: 20px;
    }

    .flex-articulos-item-3-historia {
        width: 290px;
        height: auto;
        margin: 20px;

    }
    
    /* -----PORTADA HISTORIA----- */
    .portada-historia {
        background-image: url(../img/fondo-azul.png);
        background-size: auto 100%;
        background-position: center;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

        h1 {
            font-weight: 700;
            text-align: right;
            font-size: 34px;
            text-decoration:none;
            color: white;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.2rem;
        };
        h2 {
            font-weight: 400;
            text-align: center;
            font-size: 20px;
            text-decoration:none;
            color: white;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.1rem;
            justify-content: center;
             align-items: center;
            };
        img {
                width: 350px;
            };
    };

     /* -----ARTICULOS HISTORIA----- */

        /* IMG ARTICULOS -HISTORIA */
        .tamaño-img-art-historia {
            width: 250px;
            height: auto;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }
        .tamaño-img-art-historia-quique {
            width: 200px;
            transform: scaleX(-1);
            margin-left: 20px;
            margin-top: 90px;
        };

        //AQUI-2-JUEGA
/*--------------- CSS JUEGA --------------*/
/* ESTILOS PORTADA JUEGA*/
.portada-juega {
    background-color: #6567C9;
    background-size: 100%;
    background-position: center center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    h1 {
        font-weight: 400;
        text-align: center;
        font-size: 33px;
        text-decoration:none;
        color: yellow;
        font-family: "fuente-juego";
        letter-spacing: 0.2rem;
    };
    h2 {
        font-weight: 400;
        text-align: center;
        font-size: 25px;
        text-decoration:none;
        color: yellow;
        font-family: 'Playfair Display', serif;
        letter-spacing: 0.1rem;
        justify-content: center;
        align-items: center;
    };
    h3 {
        font-weight: 400;
        text-align: center;
        font-size: 15px;
        text-decoration:none;
        color: white;
        font-family: 'Playfair Display', serif;
        letter-spacing: 0.1rem;
        justify-content: center;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
    };
    img {
        width: 250px;
        
    }
};
   //AQUI PARTE 3

/* ----------CONTACTO------- */
    /* MAQUETACION PORTADA CONTACTO */
    .grid-container-portada-contacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 0;
        width: 100%;
        height: auto;
        
       
    }
    .grid-item1-portada-contacto {
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 0;
    }
    .formulario-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-left:10% ;
        
    }
    .width-formulario {
        width: 85%;
    }
    .grid-item2-portada-contacto {
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-right: 10%;
        margin-left: 5%;
        position: relative;
        z-index: 0;
        padding-bottom: 10%;
        align-items: center;
        
    }

    .negro-fondo-formulario {
        background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
        width: 100%;
        height: 100%;
        grid-column: 1/3;
        grid-row: 1/3;
        position: relative;
        z-index: -1;
    }
    .borde-blanco {
        width: 90%;
        height: 90%;
        grid-column: 1/3;
        grid-row: 1/3;
        position: relative;
        z-index: -1;
        border: 1px solid white;
        margin: 5%;
        display: flex;
    }

     /* Boton contacto -CONTACTO */
     .boton-contacto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: auto;
        border: 1px solid #FBE405;
        font-family: 'Quicksand', sans-serif;
        color: #757575;
        font-size: 10px;
        font-weight: 100;
        letter-spacing: 0.2rem;
        background-color: #FBE405;
        text-decoration: none;
        height: 50px;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 15%;
        margin-left: 15%;
        border-radius: 30px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
  

/* MAQUETACION - SOBRE NOSOTROS */
            .flex-sobre-nosotros {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                position: relative;
                z-index: 0;
            }
            .acordeon-bootstrap-sobre{
                margin-top: 100px;
                margin-bottom: 30px;
                width: 90%;
            }

    .portada-contacto {
        background-image: url(../img/fondo-madera.png);
        background-size: 100%;
        background-position: center center;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        h1 {
            font-weight: 700;
            text-align: center;
            font-size: 40px;
            text-decoration:none;
            color: white;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.2rem;
            margin-top: 15%;
        };
        h2 {
            font-weight: 400;
            text-align: center;
            font-size: 20px;
            text-decoration:none;
            color: white;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.1rem;
            margin-left: 5%;
        };
        img {
            width: 200px;
            margin-left: 30%;
            position: relative;
        z-index: -1;
        };
        h3 {
            font-weight: 400;
            text-align: left;
            font-size: 18px;
            text-decoration:none;
            color: white;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.1rem;
            margin-top: 10%;
            margin-left: 10%;
        }
    }

/* -------------FORMULARIO------------- */
    /* titululo form */
        .titulo-form {
            font-weight: 550;
            text-align: center;
            font-size: 18px;
            text-decoration:none;
            color: white;
            font-family: 'Quicksand', sans-serif;
            letter-spacing: 0.1rem;
            
        }
    /* label form */
        .formulario {
            font-weight: 400;
            text-align: left;
            font-size: 18px;
            text-decoration:none;
            color: white;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.1rem;
        }
    /* boton enviar */
        .formulario input[type="submit"] {
        
            font-family: 'Quicksand', sans-serif;
            color: #757575;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 0.2rem;
            background-color: #FBE405;
            text-decoration: none;
            border: none;
        }

/* ------articulos contacto------ */
    /* texto articulos */
        .texto-articulos-contacto {
            font-weight: 400;
            text-align: left;
            font-size: 18px;
            text-decoration:none;
            color: #757575;
            font-family: 'Quicksand', sans-serif;
            h2{
                font-weight: 700;
                text-align: left;
                font-size: 20px;
                text-decoration:none;
                color: #757575;
                font-family: 'Quicksand', sans-serif;
                letter-spacing: 0.1rem;
            } 
            
        }

        .color-preguntas {
            background-color: #E9E8E8;
            --bs-accordion-active-bg: #E9E8E8;

        }

        .color-terminos {
            background-color: #D9D9D9;
            --bs-accordion-active-bg: #D9D9D9;

        }

        .color-sobre-nosotros {
            background-color: #F5F2F2;
            --bs-accordion-active-bg:#F5F2F2;

        }


    /* MAQUETACION PORTADA JUEGO */
    .grid-container-portada-juego {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto ;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 0;
        width: 100%;
    }
    .grid-item1-portada-juego {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        padding-top: 30px;   
    }
    .grid-item2-portada-juego {
        display: flex;
        justify-content: center;
        grid-column: 1/2;
        grid-row: 2/3;
        flex-direction: column;
        align-items: center;
        margin-right: 10%;
        margin-left: 5%;
        padding-bottom: 10%;
    }
            /* MAQUETACION ARTICULOS JUEGO */
                /* GRID CONTAINER JUEGO */
                .grid-container-juego {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 80% 20%;
                    grid-template-areas:
                        'juego juego juego'
                        'quique texto texto';
                }
                
                /* GRID ITEM JUEGO */
                .grid-item-juego1 {
                    grid-area: juego;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                
                .grid-item-juego2 {
                    grid-area: quique;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-self: flex-end;
                    justify-content: flex-end;
                }
                
                .grid-item-juego3 {
                    grid-area: texto;
                }



        
        /* GAME */
            .tamaño-img-art-juega-quique {
                width: 220px;
                transform: scaleX(-1);
                margin-left: 4px;
                
            }
            .game {
                width: 90%;
                height: 390px;
                background-color: black;
           
                
            }
            .bg-juega {
                background-color: #3A3B7C;
            }
            .text-game p{
                color: white;
                margin-left: 20%;
                font-size: 22px;
            }



 
              
//FINAL MEDIA QUERY
}