//IMPORT MAPS
@import '../maps/maps';
//IMPORT VARIABLES
@import '../variables/_variables';
//IMPORT MIXXINS
@import '../mixins/_mixin-estilos.scss';
@import '../mixins/_mixin-maquetacion';
@import '../mixins/_mixin-botones';

/* ESTILO UNIVERSAL */
 *{ 
    margin: 0px;
    border: 0px;
}
//  /*ESTILOS DE BODY*/
 body {
    background-color: #F5F2F2;
}
// /*ESTILOS DE FOOTER*/
footer {
    background-color: #1FC1CB;
   
}

ul{
    list-style-type: none;
}
// /* ESTILOS HEADER*/
header nav {
    display: inline;
    background-color: #1FC1CB;
    position: fixed;
    width: 100%;
    z-index: 2;
}
/* ESTILO MENUS */
.clase-menus {
    color: #E9E8E8;
    font-size: 32px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    list-style-type: none; 
    &:hover { 
        color: map-get($map: $colores, $key:amarillo-active);
        font-size: 34px;
    };
    &:active {
        color: map-get($map: $colores, $key:amarillo-active-2);
        font-size: 33px
    }
}
.logo-header-class span {
    font-size: 15px;
}
 /* ESTILOS FOOTER*/
    

        /* ESTILO links footer*/
        .clase-links-footer {
            color: #E9E8E8;
            font-size: 20px;
            text-decoration: none;
            font-family: 'Quicksand', sans-serif;
            &:hover, &:focus { 
                color: map-get($map: $colores, $key:amarillo-active);
                font-size: 22px;
            };
            &:active {
                color: map-get($map: $colores, $key:amarillo-active-2);
                font-size: 21px
            };

        }
    /* Estilo logo gatino footer */
        .clase-logo-gatino {
            width: 178px;
        }
    /* Estilo icpnos RRSS footer */
        .clase-iconos {
            width: 30px;
            &:hover { 
                width: 32px;
            }
            
        };

    /* estilo copyright footer*/
        footer {
            h5 {
                font-weight: 300;
                color: #E9E8E8;
                font-size: 18px;
                text-decoration: none;
                font-family: 'Alegreya Sans', 'Quicksand', sans-serif;
            };
            p {
                color: #E9E8E8;
                font-size: 20px;
                text-decoration: none;
                font-family: 'Quicksand', sans-serif;
            };
        };
        
  

    