//-------------ESTILOS COLORES Y FUENTES-------------
    //IMPORT MIXXINS
    @import '../../mixins/mixin-estilos';
    @import '../../mixins/_mixin-maquetacion';
    @import '../../mixins/_mixin-botones';

    //IMPORT VARIABLES
    @import '../../variables/_variables';
    //IMPORT BOOTSTRAP
    @import '../../bootstrap/bootstrap';
    //IMPORT MAPS
    @import '../../maps/_maps';

// ESTILOS

    // estilo logo header
    .logo-header-class {   
        @include estilo-logo-header ($tamaño-logo-header-normal); //VALOR CAMBIAR
        &:hover, &:focus { 
            font-size: 45px;
        };
        &:active {
            font-size: 44px
        };
    };
    .header-active {
          color: map-get($map: $colores, $key:amarillo-active );
      }
   
    //estilo h1 index
   
    h1 {
    @include estilo-h1-global (100, center,100px,white,"fuente-logo",0px);
    span {font-size: 33.3px;};
    };
   
    h2 {
        @include estilo-h1-global (100, center,50px,white,"fuente-logo",0px);
        };
        
    h3 {
         @include estilo-h1-global (400, center,31px,white,('Quicksand', sans-serif),0px);
           };
    //estilo texto Articulos
    .texto-articulos{
        @include texto-articulos-global (20px);
        p{
            padding-top: 10px;
         }
    };
    //estilo portada TIENDA
    .portada-tienda {
        @include portada-fondo (url(../img/fondo-madera.png),100%);
        img {
            @include portada-img (400px)
        };
        h1 {
            @include estilo-h1-global (700, right,50px,white,('Playfair Display', serif),0.2rem);
        };
        h2 {
            @include estilo-h1-global (400, right,24px,white,('Playfair Display', serif),0.1rem);
        };
        h3 {
            @include estilo-h1-global (auto, center,15px,white,('Playfair Display', serif),0.1rem);
        };
    };

/* -----PORTADA HISTORIA----- */
.portada-historia {
    background-image: url(../img/fondo-azul.png);
    background-size: 100%;
    background-position: center center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/*  h1 historia */
.portada-historia h1 {
    font-weight: 400;
    text-align: right;
    font-size: 50px;
    text-decoration:none;
    color: white;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.2rem;
}

/* subt h2 historia*/
    .portada-historia h2 {
    font-weight: 400;
    text-align: right;
    font-size: 24px;
    text-decoration:none;
    color: white;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1rem;
    }
    .portada-historia img {
        width: 457px;
    }
/* -----ARTICULOS HISTORIA----- */

    /* IMG ARTICULOS -HISTORIA */
    .tamaño-img-art-historia {
        width: 250px;
        height: 280px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
    .tamaño-img-art-historia-quique {
        width: 200px;
        transform: scaleX(-1);
        margin-left: 20px;
        margin-top: 90px;

        
    }

//----JUEGA.HTML----

    /* PORTADA JUEGA*/
    .portada-juega {
        background-color: #6567C9;
        background-size: 100%;
        background-position: center center;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    /*  h1 juega */
        .portada-juega h1 {
            font-weight: 400;
            text-align: right;
            font-size: 48px;
            text-decoration:none;
            color: white;
            font-family: "fuente-juego";
            letter-spacing: 0.2rem;
        }

            /* subt h2 juega*/
            .portada-juega h2 {
            font-weight: 400;
            text-align: right;
            font-size: 33px;
            text-decoration:none;
            color: white;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.1rem;

        }

        .portada-juega h3 {
            font-weight: 400;
            text-align: right;
            font-size: 26px;
            text-decoration:none;
            color: white;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.1rem;
        }


    /* imagen portada juega */
        .portada-juega img {
            width: 457px;
            
        }

    /* GAME */
        .tamaño-img-art-juega-quique {
            width: 300px;
            transform: scaleX(-1);
            margin-left: 40px;
            
        }
        .game {
            width: 90%;
            height: 500px;
            background-color: black;
    
            
        }
        .bg-juega {
            background-color: #3A3B7C;
        }
        .text-game p{
            color: white;
            margin-left: 20%;
            font-size: x-large;
        }

//CONTACTO----------

    .portada-contacto {
        background-image: url(../img/fondo-madera.png);
        background-size: 100%;
        background-position: center center;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    /*  h1 CONTACTO */
    .portada-contacto h1 {
        font-weight: 700;
        text-align: right;
        font-size: 50px;
        text-decoration:none;
        color: white;
        font-family: 'Playfair Display', serif;
        letter-spacing: 0.2rem;
    }
        /* subt h2 CONTACTO*/
        .portada-contacto h2 {
        font-weight: 400;
        text-align: right;
        font-size: 24px;
        text-decoration:none;
        color: white;
        font-family: 'Playfair Display', serif;
        letter-spacing: 0.1rem;
    }
    .portada-contacto img {
        width: 400px;
    }

    .portada-contacto h3 {
        font-weight: 400;
        text-align: right;
        font-size: 23px;
        text-decoration:none;
        color: white;
        font-family: 'Playfair Display', serif;
        letter-spacing: 0.1rem;
    }

    /* -------------FORMULARIO------------- */
    /* titululo form */
        .titulo-form {
            font-weight: 550;
            text-align: left;
            font-size: 23px;
            text-decoration:none;
            color: white;
            font-family: 'Quicksand', sans-serif;
            letter-spacing: 0.1rem;
            margin-right: 8%;
        }
    /* label form */
        .formulario {
            font-weight: 400;
            text-align: left;
            font-size: 23px;
            text-decoration:none;
            color: white;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.1rem;
        }

    /* ------articulos contacto------ */
    /* texto articulos */
    .texto-articulos-contacto {
        font-weight: 400;
        text-align: left;
        font-size: 24px;
        text-decoration:none;
        color: #757575;
        font-family: 'Quicksand', sans-serif; 
        
    }
/* titulos articulos */
    .texto-articulos-contacto h2{
        font-weight: 700;
        text-align: left;
        font-size: 32px;
        text-decoration:none;
        color: #757575;
        font-family: 'Quicksand', sans-serif;
        letter-spacing: 0.1rem;
    }

    .color-preguntas {
        background-color: #E9E8E8;
        --bs-accordion-active-bg: #E9E8E8;

    }

    .color-terminos {
        background-color: #D9D9D9;
        --bs-accordion-active-bg: #D9D9D9;

    }

    .color-sobre-nosotros {
        background-color: #F5F2F2;
        --bs-accordion-active-bg:#F5F2F2;

    }